header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem 0;
  z-index: $z-index-6;
  @include prefix(transition, all 0.5s ease-in-out, moz webkit o ms);
  .nav {
    @include flexContainer(space-between, center);
    .brand-logo {
      img {
        @extend %logo;
      }
    }
    .menu-nav {
      @include flexContainer(center, center);
      @include prefix(transition, all 0.5s ease-in-out, moz webkit o ms);
      &__item {
        &.active > a {
          color: $color-main;
        }
      }

      &__link {
        display: inline-block;
        font-size: 1rem;
        text-transform: capitalize;
        padding: 0.5rem 0;
        margin: 0 0.8rem;
        letter-spacing: 1.2px;
        font-weight: $font-weight-light;
        color: $color-white;
        @include prefix(transition, all 0.5s ease-in-out, moz webkit o ms);

        &:hover {
          color: $color-main;
        }
      }
    }
  }
}
